Data/Scripts/Content/[Cc][Uu][Tt][Ss][Cc][Ee][Nn][Ee]/[Oo][Uu].[Bb][Ii][Nn]
Data/Scripts/Content/[Cc][Uu][Tt][Ss][Cc][Ee][Nn][Ee]/[Oo][Uu].[Cc][Ss][Ll]
Data/Scripts/_[Cc][Oo][Mm][Pp][Ii][Ll][Ee][Dd]/*.[Dd][Aa][Tt]
